<mat-toolbar>
  <span>New Competition</span>
  <span class="spacer"></span>
  <div class="button-row">
    <button mat-flat-button color="primary" (click)="onSubmit()">CREATE</button>
    <button mat-stroked-button color="warn" (click)="onCancel()">CANCEL</button>
  </div>
</mat-toolbar>

<mat-divider></mat-divider>

<div>
  <mat-card fxFlexOffset.gt-sm="33" fxFlex.gt-sm="33">
    <form [formGroup]="competitionForm.form">
      <mat-form-field class="full-width">
        <input formControlName="name" matInput placeholder="Name" required>
        <mat-error *ngFor="let error of competitionForm.formErrors.name">
          {{error}}
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card>
</div>

