<mat-toolbar>
  <span>New Player</span>
  <span class="spacer"></span>
  <button mat-flat-button color="primary" (click)="onSubmit()">CREATE</button>
</mat-toolbar>

<mat-divider></mat-divider>

<div>
  <mat-card fxFlexOffset.gt-sm="33" fxFlex.gt-sm="33">
    <form [formGroup]="playerForm.form">
      <mat-form-field class="full-width">
        <input formControlName="firstName" matInput placeholder="First name" required>
        <mat-error *ngFor="let error of playerForm.formErrors.firstName">
          {{error}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input formControlName="lastName" matInput placeholder="Last name" required>
        <mat-error *ngFor="let error of playerForm.formErrors.lastName">
          {{error}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input formControlName="currentValue" matInput placeholder="Current value" number required>
        <mat-error *ngFor="let error of playerForm.formErrors.currentValue">
          {{error}}
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card>
</div>
