<mat-toolbar>
  <span>Admin Dashboard</span>
  <span class="spacer"></span>
  <div class="button-row">
    <button mat-flat-button color="primary" (click)="addFixtures()">ADD FIXTURES</button>
  </div>
</mat-toolbar>

<mat-divider></mat-divider>

<div class="flex-container content-area" fxLayout.gt-sm="row" fxLayoutGap="15px" fxLayout="space-between" fxLayout="column" fxLayoutAlign="start">
  <div class="" fxFlex="50">
    <div fxLayout="row" fxLayoutAlign="start center">
      <h3 class="mat-card-outer-title">Competitions</h3>
      <span class="spacer"></span>
      <button class="mat-card-outer-title" mat-icon-button matTooltip="Add Competition" (click)="createCompetition()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-card class="mat-card-list">
      <admin-competition-list [competitions]="competitions"></admin-competition-list>
    </mat-card>
  </div>
</div>
