/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; height: 100%; font-family: 'Roboto', sans-serif; }



.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.content-area {
  padding: 15px;
}

.mat-typography .mat-card-outer-title {
  margin: 0 0 10px;
}

mat-card.mat-card-list {
  padding: 0px;
  margin-bottom: 15px;

  .mat-nav-list {
    padding-top: 0px;

    .mat-subheader:first-child {
      margin-top: 0px;
    }
  }
  .mat-card-footer {
    margin: 0 0 0 0;
  }
}

.button-row button,
.button-row a {
  margin-right: 8px;
}
